.main__content {
  padding-left: 72px;
  background-image: url(../../../images/background.png);
  background-position: center;
  background-repeat: repeat;
  background-color: #E9DED4;
  background-blend-mode: color-burn;
}